{% extends "layout.html" %}

{% block title %}
    Language
{% endblock %}

{% block main %}
    <br><br>
    <h1 class="coral-outline">Language Lessons</h1>

    <br>
    <div class=paragraphs>
        <p class="left-text">
            Here we'll have an overview of Hangul, as well as some common phrases that'll be useful to know. If time, let's do
            a search component for phrases (idk if this is doable without a plugin or something though cause it's basically
            google translate at that point- maybe import a big english-korean dict db?)
        </p>
    </div>



    <!-- section for adding and reading comments -->
    <div class="comments">
        <p  id="shadows" class="left-text" >
            <b>Leave your own lesson or comment:</b>
        </p>
        <form action="/language" method="post" class="submit-comment" style="min-width: 100%">
            <textarea class="form-control" id="textarea" rows="1" style="min-width: 100%" name="comment"></textarea>
            <div class="small-divider"></div>
            <button id=commentbutton class="btn btn-primary" type="submit">POST COMMENT</button>
        </form>
        <br>
    <!-- add all comments to page -->
        {% for comment in comments_list %}
            <br>
            <div class="comment-box">
                <p class="left-text"><b>{{ comment.username }}</b> says:</p>
                <p class="left-text" id="date">{{ comment.time }}</p>
                <p class="left-text">{{ comment.comment }}</p>
            </div>
        {% endfor %}
    </div>

{% endblock %}