{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <br><br>
    <p>
        Log in to your account here, or <a href="http://1a5807c3-2e98-4c96-ba4d-e83cc5aea06b-ide.cs50.xyz/register">register</a> an account if you haven't yet.
    </p>
    <form action="/login" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Log In</button>
    </form>
{% endblock %}